@font-face {
  font-family: 'DIN-Condensed-Bold';
  src: url('DIN-Condensed-Bold.eot');
  src: url('DIN-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
       url('DIN-Condensed-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('DINCondensed-Bold.svg#DINCondensed-Bold') format('svg'),
       url('DINCondensed-Bold.ttf') format('truetype'),
       url('DINCondensed-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

