.home-slider-title {
  background-color: #0da487;
  border-radius: 8px;
  margin: 5px;
}

.btn-category-product {
  border-radius: 50px;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
